<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>__TITLE__</title>

	<link rel="stylesheet"
	      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/default.min.css">

	
</head>
<body>

<pre><code class="arduino"><span class="hljs-comment">/******************************************************************************
 * DreamMaker FX / www.dreammakerfx.com
 *****************************************************************************/</span>
<span class="hljs-comment">/*
Describe a bit about how your effect works.  Feel free to use multiple lines, 
just don't delete or change any of the field names. 

Effect name: Add a clever name
Effect description:  What does it do

Left pot label: left pot label
Left pot function: describe left pot function

Center pot label: center pot label
Center pot function: describe center pot function

Right pot label: right pot label
Right pot function: describe right pot function

Left footswitch label: 
Left footswitch function: describe left footswitch function

Right footswitch label:
Right footswitch function: describe right footswitch function

Youtube Url: optional, add a URL to a youtube video
Soundcloud Url: optional, add a URL to a soundcloud audio clip

Created by: your alias
DreamMakerFx package: DreamMakerFx package version used x.y.z (e.g. 1.4.2)
Version: version of your sketch (e.g. 1.0)
*/</span>
<span class="hljs-meta">#<span class="hljs-meta-keyword">include</span> <span class="hljs-meta-string">&lt;dreammakerfx.h&gt;</span></span>


<span class="hljs-comment">// Add your fx module declarations here</span>




<span class="hljs-function"><span class="hljs-keyword">void</span> <span class="hljs-title">setup</span><span class="hljs-params">()</span> </span>{
  <span class="hljs-comment">// put your setup code here, to run once:</span>

    
  <span class="hljs-comment">// put your setup code here, to run once:</span>
  pedal.init();

  <span class="hljs-comment">// Route audio from pedal.instr_in to pedal.amp_out</span>
  pedal.route_audio(pedal.instr_in, );
  pedal.route_audio(vibrato.output, pedal.amp_out);  

  <span class="hljs-comment">// Optionally use a bypass switch FOOTSWITCH_LEFT or FOOTSWITCH_RIGHT</span>
  <span class="hljs-comment">// pedal.add_bypass_button(FOOTSWITCH_LEFT);</span>

  <span class="hljs-comment">// Optionally use a tap tempo / delay switch</span>
  <span class="hljs-comment">// Can also be FOOTSWITCH_LEFT or FOOTSWITCH_RIGHT but different than</span>
  <span class="hljs-comment">// the bypass switch</span>
  <span class="hljs-comment">// pedal.add_tap_interval_button(FOOTSWITCH_RIGHT, true);</span>

  <span class="hljs-comment">// Run this effect</span>
  pedal.run();

}


<span class="hljs-function"><span class="hljs-keyword">void</span> <span class="hljs-title">loop</span><span class="hljs-params">()</span> </span>{
  <span class="hljs-comment">// put your main code here, to run repeatedly:</span>

  <span class="hljs-comment">// Left pot control</span>
  <span class="hljs-keyword">if</span> (pedal.pot_left.has_changed()) { 
    <span class="hljs-comment">// Left pot value is: pedal.pot_left.val</span>
  } 

  <span class="hljs-comment">// Center pot control</span>
  <span class="hljs-keyword">if</span> (pedal.pot_center.has_changed()) { 
    <span class="hljs-comment">// Center pot value is: pedal.pot_center.val</span>
  } 

  <span class="hljs-comment">// Right pot set control</span>
  <span class="hljs-keyword">if</span> (pedal.pot_right.has_changed()) {
    <span class="hljs-comment">// Right pot value is: pedal.pot_right.val</span>
  }

  <span class="hljs-comment">// Run pedal service to take care of stuff</span>
  pedal.service();  

}
</code></pre>

</body>	
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
</html>
